.container {
    display: flex;
}

.flex_box_1 {
    height: 100vh;
    width: 100px;
    border: 2px solid blue;
    background-color: azure;
    margin: 2%;
}

.flex_box_2 {
    height: 100vh;
    width: 100px;
    border: 2px solid blue;
    background-color: azure;
    margin: 2%;
}

.flex_box_3 {
    height: 100vh;
    width: 100px;
    border: 2px solid blue;
    background-color: azure;
    margin: 2%;
}

.flex_box_2 {
    flex-grow: 1;
}
